<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.essm.dao.PlainMapper">

    <resultMap type="com.essm.entity.Plain" id="PlainMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="addWordNum" column="add_word_num" jdbcType="INTEGER"/>
        <result property="knowWordNum" column="know_word_num" jdbcType="INTEGER"/>
        <result property="studyNum" column="study_num" jdbcType="INTEGER"/>
        <result property="gameNum" column="game_num" jdbcType="INTEGER"/>
        <result property="sign" column="sign" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="addWordNums" column="add_word_nums" jdbcType="INTEGER"/>
        <result property="knowWordNums" column="know_word_nums" jdbcType="INTEGER"/>
        <result property="studyNums" column="study_nums" jdbcType="INTEGER"/>
        <result property="gameNums" column="game_nums" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PlainMap">
        select
          id, pid, add_word_num, know_word_num, study_num, game_num, sign, create_time, add_word_nums, know_word_nums, study_nums, game_nums
        from essm.essm_plain
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PlainMap">
        select
          id, pid, add_word_num, know_word_num, study_num, game_num, sign, create_time, add_word_nums, know_word_nums, study_nums, game_nums
        from essm.essm_plain
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByDate" resultMap="PlainMap">
        select
          id, pid, add_word_num, know_word_num, study_num, game_num, sign, create_time, add_word_nums, know_word_nums, study_nums, game_nums
        from essm.essm_plain
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="addWordNum != null">
                and add_word_num = #{addWordNum}
            </if>
            <if test="knowWordNum != null">
                and know_word_num = #{knowWordNum}
            </if>
            <if test="studyNum != null">
                and study_num = #{studyNum}
            </if>
            <if test="gameNum != null">
                and game_num = #{gameNum}
            </if>
            <if test="sign != null">
                and sign = #{sign}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="addWordNums != null">
                and add_word_nums = #{addWordNums}
            </if>
            <if test="knowWordNums != null">
                and know_word_nums = #{knowWordNums}
            </if>
            <if test="studyNums != null">
                and study_nums = #{studyNums}
            </if>
            <if test="gameNums != null">
                and game_nums = #{gameNums}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into essm.essm_plain(pid, add_word_num, know_word_num, study_num, game_num, sign, create_time, add_word_nums, know_word_nums, study_nums, game_nums)
        values (#{pid}, #{addWordNum}, #{knowWordNum}, #{studyNum}, #{gameNum}, #{sign}, #{createTime}, #{addWordNums}, #{knowWordNums}, #{studyNums}, #{gameNums})
    </insert>

    <!--通过指定条件修改数据（用户编号、日期）-->
    <update id="update">
        update essm.essm_plain
        <set>
            <if test="addWordNum != null">
                add_word_num = #{addWordNum},
            </if>
            <if test="knowWordNum != null">
                know_word_num = #{knowWordNum},
            </if>
            <if test="studyNum != null">
                study_num = #{studyNum},
            </if>
            <if test="gameNum != null">
                game_num = #{gameNum},
            </if>
            <if test="sign != null">
                sign = #{sign},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where pid = #{pid} and sign = #{sign}
    </update>

    <!--增加单词数1，记录集合状态中-->
    <update id="updateAddWord">
        update essm.essm_plain
          set add_word_nums = add_word_nums + 1
        where pid = #{userId} and create_time=#{time}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from essm.essm_plain where id = #{id}
    </delete>

</mapper>