<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.essm.dao.WordMapper">

    <resultMap type="com.essm.entity.Word" id="WordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="chinese" column="chinese" jdbcType="VARCHAR"/>
        <result property="english" column="english" jdbcType="VARCHAR"/>
        <result property="sign" column="sign" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="WordMap">
        select
          id, pid, chinese, english, sign
        from essm.essm_word
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="WordMap">
        select
          id, pid, chinese, english, sign
        from essm.essm_word
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="WordMap">
        select
          id, pid, chinese, english, sign
        from essm.essm_word
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="chinese != null and chinese != ''">
                and chinese = #{chinese}
            </if>
            <if test="english != null and english != ''">
                and english = #{english}
            </if>
            <if test="sign != null">
                and sign = #{sign}
            </if>
        </where>
    </select>

    <!--通过用户id查询所有单词-->
    <select id="queryAllByUserIdAndSign" resultMap="WordMap">
        select
          id, pid, chinese, english, sign
        from essm_word
        where pid = #{userId} and sign = #{sign}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into essm.essm_word(pid, chinese, english, sign)
        values (#{pid}, #{chinese}, #{english}, #{sign})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update essm.essm_word
        <set>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="chinese != null and chinese != ''">
                chinese = #{chinese},
            </if>
            <if test="english != null and english != ''">
                english = #{english},
            </if>
            <if test="sign != null">
                sign = #{sign},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from essm.essm_word where id = #{id}
    </delete>

</mapper>