<div class="row">
	<nav class="navbar navbar-light" style="background-color: #A1BF45;">
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="navbar-brand navbar-link" href="essm.html">首页</a>
				<a class="navbar-brand navbar-link" href="plibrary.html">个人库管理</a>
				<a class="navbar-brand navbar-link" href="knowwords.html">掌握单词</a>
				<a class="navbar-brand navbar-link" href="unknowwords.html">未掌握单词</a>
				<a class="navbar-brand navbar-link" href="introduction.html">关于网站</a>
			</div>
			<p class="navbar-text navbar-right collapse navbar-collapse">
				<a id="btn" href="javascript:void(0);" class="navbar-link" style="font-size:18px;color: white;text-decoration: none;">登录</a>
				<a id="btn_user" href="javascript:void(0);" class="navbar-link" style="font-size:18px;color: red;text-decoration: none;display: none;"></a>
			</p>
		</div>
	</nav>
</div>