<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>易学习平台简介</title>
		<link type="text/css" href="js/introduction.css" />
		<style type="text/css">
			body {
				background: whitesmoke;
			}
			
			h1 {
				text-align: center;
				color: orangered;
			}
			
			p {
				text-indent: 2em;
				color: deepskyblue;
				font-size: 20px;
			}
		</style>	
	</head>
	<body>
		<div id="alt">
			<h1>易学习平台介绍</h1>
			<p>
				易学习平台起源是为了提供一个良好的学习英语单词的学习平台。易学习平台为了让更多人学好英语，通过有趣而又灵活的多种方式来给需要学习英语的人提供了更多学习英语的方式，能够促进英语教育的发展
			</p>
			<p>
				平台功能比较专注于单词多种方式学习记忆。易学习平台为了让更多人学好英语，通过有趣而又灵活的多种方式来给需要学习英语的人提供了更多学习英语的方式，平台主要功能分为：定制计划学习、盲式英语学习、基于中英文接龙学习和测测实力四个学习功能。每个功能需要用户自己去体验方可知晓。
			</p>
			<p>用户使用基本流程：注册、登录，开始体验。</p>
		</div>
		<a href="index.html">开始体验</a>
	</body>
</html>