<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>易学习平台简介</title>
		<link type="text/css" href="js/introduction.css" />
		<style type="text/css">
			body {
				background: whitesmoke;
			}
			
			h1 {
				text-align: center;
				color: orangered;
			}
			
			p {
				text-indent: 2em;
				color: deepskyblue;
				font-size: 20px;
			}
		</style>	
	</head>
	<body>
		<div id="alt">
			<h1>易学习平台</h1>
			<p>
				雷锋（1940年12月18日—1962年8月15日），原名雷正兴，出生于湖南长沙。中国人民解放军战士、共产主义战士。
			</p>
			<p>
				1954年加入中国少年先锋队，1960年参加中国人民解放军，同年11月加入中国共产党。1961年5月，雷锋作为全团候选人，被选为辽宁省抚顺市第四届
				人民代表大会代表。1962年2月19日，雷锋以特邀代表身份，出席沈阳军区首届共产主义青年团代表会议，并被选为主席团成员在大会上发言。1962年8月15日，雷锋因公殉职，年仅
				22岁。雷锋对后世影响最大的是以其名字命名的雷锋精神，雷锋精神是指以雷锋的无私奉献精神为基本内涵，在实践中不断丰富和发展着的革命精神。它影响了后来一代一代的中国人。
				2017年5月，军方权威媒体的报道显示，新组建的陆军第79集团军隶属于北部战区陆军，同时雷锋生前所在部队也已隶属于陆军第79集团军。
			</p>
		</div>
		<a href="index.html">返回主页</a>
	</body>
</html>