<div class="screen" id="screen">

</div>
<div class="dialog" id="dialog">
	<div class="d_header" id="d_header">
		<span class="d_title">易学习平台</span>
		<span class="d_close" id="d_close">X</span>
	</div>
	<div class="d_content" id="d_content">
		<form action="#" method="post" id="lform">
			<span class="d_tip" id="d_tip"></span>
			<div class="d_input d_inputt"><input type="text" name="username" id="username" value="" placeholder="用户名" /></div>
			<div class="d_input d_inputd"><input type="password" name="password" id="password" value="" placeholder="密码" /></div>
			<div class="d_submit"><input type="submit" name="submit" id="submit" value="登陆" /></div>
		</form>

	</div>
	<div class="d_footer" id="d_footer">
		<a href="javascript:void(0);" style="text-decoration: none;" id="reg">立即注册</a>
	</div>
</div>

<div class="dialog_re" id="dialog_re">
	<div class="d_header" id="h_reg">
		<span class="d_title">易学习平台</span>
		<span class="d_close" id="close_reg">X</span>
	</div>
	<div class="d_content" id="d_reg">
		<form action="#" method="post" id="rform">
			<span class="d_tip" id="t_reg"></span>
			<div class="d_input d_inputt"><input type="text" name="username" id="r_username" value="" autocomplete="off" placeholder="用户名" /></div>
			<div class="d_input d_inputd"><input type="password" name="password" id="r_password" autocomplete="off" value="" placeholder="密码" /></div>
			<div class="d_input d_inpute"><input type="email" name="email" id="email" value="" placeholder="邮箱" /></div>
			<input type="hidden" name="sign" value="0" class="form-control" id="sign">
			<!--<div class="d_input d_inputy"><input type="text" name="checknum" id="checknum" value="" placeholder="验证码" /></div>-->
			<div class="d_submit"><input type="submit" id="r_submit" value="注册" /></div>
		</form>

	</div>
	<div class="d_footer" id="d_footer2">
		<a href="javascript:void(0);" style="text-decoration: none;" id="login">立即登录</a>
	</div>
</div>

<!--退出登录框-->
<div class="exit" id="exit">
	<div class="d_content">
		<form action="#" method="post" id="exit_form">
			<span class="d_close" id="close_ex">X</span>
			<div class="d_submit"><input type="submit" name="submit" value="退出登录" /></div>
		</form>
	</div>
</div>