<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>个人单词库</title>
		<link rel="stylesheet" href="css/essm.css" th:href="@{/static/css/essm.css}" />
		<link rel="stylesheet" href="css/dialog.css" th:href="@{/static/css/dialog.css}" />
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			  crossorigin="anonymous">
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.cookie.js" th:src="@{/static/js/jquery.cookie.js}"></script>
		<script type="text/javascript" src="js/dialog.js" th:src="@{/static/js/dialog.js}"></script>
	</head>

	<body>
		<div class="container">
			<!--引入页面导航栏-->
			<div class="header">导航栏</div>
			<div class="row">
				<div class="col-md-3">
					<a href="javascript: void(0);" class="navbar-brand navbar-link" id="schedule" style="font-size:18px;color: white;">计划状态</a>
					<div class="include" file="schedule.html">计划状态</div>
				</div>
				<p></p>
				<br />
			</div>
			<!--个人库导航栏-->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2"><a href="addword.html" class="p_a">添加单词</a></div>
				<div class="col-md-2"><a href="/kwords/list/1" class="p_a">掌握单词</a></div>
				<div class="col-md-2"><a href="/ukwords/list/1" class="p_a">未掌握单词</a></div>
				<div class="col-md-2"><a href="javascript:void(0);" id="clearall" class="p_a">格式化</a></div>
				<div class="col-md-2"></div>
				<!--确定删除个人库-->
				<div class="dialog3" id="dialog3">
					<div class="d_content" id="d_content2">
						<form action="/plibrary" method="post" id="pform">
							<span class="d_close" id="d_close2">X</span>
							<p style="font-size: 25px;text-align: center;">格式化操作</p>
							<span class="d_tip" id="d_tip2"></span>
							<div class="d_input d_inputd"><input type="password" id="password2" value="" placeholder="密码" /></div>
							<div class="d_submit"><input type="submit" name="submit" id="submit2" value="确认" /></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!--引入页面登录/注册-->
		<div class="include" file="login.html"></div>
		<script>
			/*格式化个人库*/
			$('body').delegate('#clearall', 'click', function() {
				alert("这是格式化个人库操作！！！");
				$('#screen').show();
				$('#dialog3').show();
			});
			
			$('body').delegate('#password2', 'blur', function() {
				if ($('#password2').val() == "") {
					$('#d_tip2').text("请输入密码");
					$('#d_tip2').css('color', 'red');
				} else {
					$('#d_tip2').text("");
				}
			});
			
			$('body').delegate('#pform', 'submit', function() {
				if ($('#password2').val() == "") {
					$('#d_tip2').text("请输入密码");
					$('#d_tip2').css('color', 'red');
					alert('密码不能为空！');
					return false;
				} else {
					/*ajax查询密码，正确则格式化成功*/
					$.ajax({
						url: "/deleteAllWord",
						type: "POST",
						data: {password: $('#password2').val()},
						dataType: "json",
						success: function (data) {
							if (data["status"] == 0) {
								$('#d_tip2').text("密码错误");
								$('#d_tip2').css('color', 'red');
								return false;
							}
							alert('格式化成功！');
							$('#screen').hide();
							$('#dialog3').hide();
							return true;
						},
						error: function () {
							alert("数据异常");
							return false;
						}
					})
					return false;
				}
			});
			
			$('body').delegate('#d_close2', 'click', function() {
				$('#screen').hide();
				$('#dialog3').hide();
			});
		</script>
	</body>

</html>