<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>synchronized<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>

