<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>synchronized<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>english<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>china<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>day<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>my<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>tomorrow<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>parameter<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>byte<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>head<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>difference<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>height<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>hello<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-3">
		<div class="study_contd">
			<span>apple<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>banana<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>world<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="study_contd">
			<span>word<a href="#" class="status" id="status">+</a></span>
			<a href="javascrip:void(0);" class="c_e">中文</a>
		</div>
	</div>

</div>

